@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-white text-gray-800 antialiased;
}

h1, h2, h3, h4 {
  @apply font-serif tracking-tight;
}